@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kaushan+Script&family=Rock+Salt&display=swap');

@keyframes anda{
    0%{
          opacity: 1;
    }

    25%{
        height: 200px;
        opacity: .5;
    }

    50%{
        opacity: .5;
        height:200px;
    }

    75%{
        opacity: .5;
        height: 50%;
    }

    100%{
        opacity: 1;
    }
}

body{
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    color: rgb(35, 34, 34);
    line-height: 1.7;
    background-color:rgb(230, 225, 247);
}

@media screen and (min-width: 75em){

.logo_tittle{
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    background-color: rgb(84, 84, 86);
    margin-left: 5px;
    padding-left: 25px;
    color: white;
}

.logo_bola{
    width: 100px;
    height: 100px;
    transform: translateY(-70px);
    margin-left: 600px;
}

.ruy{
    position: fixed;
    margin-top: 130px;
    margin-left: 5px;
    width: 30%;
    height: 50%;
}

.ruy:hover{
    animation: anda 2s linear infinite;
}

.second_tittle{
    width: 300px;
    margin-left: 650px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.texto{
    font-family: 'Abel', sans-serif;
    text-align: justify;
    width: 65%;
    margin-left: 35%;
    /*background-color: yellow;*/
    transform: translateY(-100px);
}

.col-2{
    margin-left: 500px;
    float: left;
    margin-bottom: 20px;
    transform: translateY(-60px);
}

.videos{
    display: inline-block;
    margin-left: 50px;
}

#video1{
    width: 200px;
    height:300px;
    margin-bottom: 40px;
}

#video2{
    width: 200px;
    height: 300px;
    margin-bottom: 40px;
}

.buttom_video{
   transform: translateX(-150px);
}

.fotos-2{
    margin-top: 20px;
    margin-left: 520px;
    float: left;
    transform: translateY(-50px);
}

.fotos{
    display: inline-block;
}

.fotos_indi{
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 50px 60px 0;
    box-sizing: border-box;
    text-align: center;
}

}

@media screen and (max-width: 48.75em){
  
  .logo_tittle{
     font-family: 'Rock Salt', cursive;
     font-size: 1.5em;
     background-color: rgb(84, 84, 86);
     margin-left: 5px;
     padding-left: 25px;
     color: white;
    } 

    .ruy{
        display: none;
    }
    
    .second_tittle{
        width: 300px;
        font-family: 'Kaushan Script', cursive;
        margin-left: 100px;
    }
    
    .logo_bola{
        width: 50px;
        height: 50px;
        margin-left: 45px;
        transform: translateY(-55px);
    }

    .texto{
        font-family: 'Abel', sans-serif;
        text-align: justify;
        width: 80%;
        margin-left: 40px;
        transform: translateY(-80px);
    }

    .videos{
        display: inline-block;
        transform: translateY(-80px);
    }
    
    #video1{
        width: 200px;
        height:300px;
        margin-bottom: 90px;
        margin-left: 90px;
    }
    
    #video2{
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
        margin-left: 90px;
    }

    .buttom_video{
        transform: translateY(-150px);
     }

     .fotos{
        display: inline-block;
    }

    .fotos-2{
        transform: translateY(-90px);
    }    
      
    .fotos_indi{
        margin-left: 30px;
        width: 150px;
        height: 200px;
        border-radius: 5px;
    }

    .fa-stack{
        transform: translateY(-60px);
        margin-left: 35px;
    }
    
}





